parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - dist
        - assets
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Function buddypress not found\.#'
        - '#Function bp_\w+ not found\.#'
        - '#Constant BIRTHDAY_WIDGET_PLUGIN_URL not found\.#'
        - '#has invalid type BP_XProfile_ProfileData\.#'
        - '#has invalid type BP_Follow\.#'
        - '#Action callback returns .+ but should not return anything\.#'
        - '#Unreachable statement - code above always terminates\.#'
        - '#is_wp_error\(.+\) will always evaluate to false\.#'
        - '#Variable \$birthdays in empty\(\) always exists and is not falsy\.#'
